.hero {
  padding: 32px;
  width: 100vw;
  position: relative;
}

.inner {
  display: flex;
  height: 736px;
  border-radius: 30px;
  border: 1px solid #fff;
  overflow: hidden;
}

.left {
  width: 50%;
  background-color: #f03f3b;
  display: flex;
  align-items: center;
  padding-left: 96px;
  padding-right: 64px;
}

.right {
  width: 50%;
  background-image: url("/Rectangle\ 1x.png");
  background-size: cover;
  background-position: center;
}

.heroTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.heroText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.btn {
  display: inline-block;
  align-items: center;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 18px 50px;
  max-width: 230px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  margin-top: 64px;
}

.btn:hover,
.btn:focus {
  background: #fbfbfb;
  color: #f03f3b;
}

.popup {
  border-radius: 20px;
  width: 284px;
  height: 118px;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 82px;
  right: 82px;
}

.popupSvg {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background: #f03f3b;
  display: block;
  align-items: center;
  justify-content: center;
  fill: #fff;
}

.popupContent {
}

.popupText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 6px;
}

.popupPrice {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #11101c;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .left {
    padding-left: 40px;
    padding-right: 24px;
  }

  .heroTitle {
    font-size: 62px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 6px;
  }

  .inner {
    flex-direction: column;
    height: auto;
    min-height: auto;
    overflow: visible;
  }

  .left {
    width: 100%;
    height: 50%;
    padding: 150px 20px 40px 20px;
    order: 1;
  }

  .titleWrapper {
  }

  .heroTitle {
    font-size: 48px;
    margin-bottom: 16px;
    text-align: center;
  }

  .heroText {
    font-size: 24px;
    text-align: center;
  }

  .right {
    width: 100%;
    height: 400px;
    order: 2;
    position: relative;
  }

  .btn {
    margin: 32px auto 0;
    padding: 12px 26px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .popup {
    bottom: 20px;
    right: 20px;
    width: calc(100% - 40px);
    max-width: 284px;
    height: 90px;
    gap: 12px;
  }
}
