.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  margin-top: 32px;
}

.headerDefault {
  background-color: #f03f3b;
  margin-top: 0px;
}

.headerContainer {
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  padding: 20px 0px;
  min-height: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  gap: 92px;
  align-items: center;
}

.navContainer {
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.navItem {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.navAuthList {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.navAuthItem {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  height: 48px;
  display: block;
  width: 100%;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.navAuthItemLogin {
}

.navAuthItemRegister {
  background: #f03f3b;
}
