.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-bottom: 64px;
  margin-top: 24px;
}

.loadMoreBtn {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 14px 40px;
  max-width: 159px;
  width: 100%;
  height: 48px;
  background-color: #f03f3b;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  margin: 0 auto;
  margin-bottom: 100px;
}

.emptyWrapper {
  background: rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  padding: 14px 40px;
  max-width: 359px;
  width: 100%;
  height: 88px;
  margin-top: 64px;
}

.emptyText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
}
