.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  border-radius: 30px;
  max-width: 599px;
  width: 100%;
  max-height: 907px;
  background: #fbfbfb;
  position: relative;
  padding: 64px;
  position: absolute;
}

.closeModalBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.closeModalIcon {
  stroke-width: 2.5px;
  stroke: #11101c;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #11101c;
  margin-bottom: 20px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 40px;
}

.nannyShortInfo {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  margin-bottom: 40px;
}

.nannyAvatar {
  border-radius: 15px;
  width: 44px;
  height: 44px;
}

.nannyPosition {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #8a8a89;
  margin-bottom: 4px;
}

.nannyName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.input {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px 16px 18px;
  width: 232px;
  height: 52px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
  width: 100%;
}

.textarea {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px 16px 18px;
  width: 472px;
  height: 116px;
}

.input::placeholder,
.textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
}

.submitBtn {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 14px 40px;
  width: 100%;
  height: 48px;
  background-color: #f03f3b;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  margin: 0 auto;
  margin-top: 24px;
  resize: none;
}

.submitBtn:hover,
.submitBtn:focus {
  background: #fbfbfb;
  color: #f03f3b;
  border: 1px solid #f03f3b;
}

.error {
  position: absolute;
  margin-top: 2px;
  color: #e63946;
  font-size: 12px;
  margin-top: -6px;
  margin-bottom: 8px;
}
