.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  border-radius: 30px;
  max-width: 565px;
  width: 100%;
  margin: 4px;
  background: #fbfbfb;
  position: relative;
}

.closeModalBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.closeModalIcon {
  stroke-width: 2.5px;
  stroke: #11101c;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 64px;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #11101c;
  margin-bottom: 20px;
}

.formText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.formInput {
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
  height: 52px;
}

.modalSubmitBtn {
  display: block;
  width: 100%;
  background-color: #f03f3b;
  border-radius: 30px;
  align-items: center;
  padding: 16px 0px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
